# 性能和内存使用方面的注意事项

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
from datetime import timedelta
from dateutil.parser import parse
from pandas import DataFrame, Series

In [2]:
rng = pd.date_range('1/1/2000', periods=10000000, freq='10ms')
ts = Series(np.random.randn(len(rng)), index=rng)
ts.head()

2000-01-01 00:00:00.000   -2.089222
2000-01-01 00:00:00.010   -0.447719
2000-01-01 00:00:00.020   -0.823750
2000-01-01 00:00:00.030   -0.295528
2000-01-01 00:00:00.040    2.461842
Freq: 10L, dtype: float64

In [3]:
ts.resample('15min').ohlc().head()

                         open      high       low     close
2000-01-01 00:00:00 -2.089222  5.340151 -4.083344  1.476769
2000-01-01 00:15:00 -1.283020  4.218857 -4.039650 -0.315353
2000-01-01 00:30:00  0.613160  4.520750 -4.239149 -0.165478
2000-01-01 00:45:00 -1.059716  4.426680 -4.164264  1.543280
2000-01-01 01:00:00 -0.043359  4.059028 -4.095064 -0.075433

In [4]:
%timeit ts.resample('15min').ohlc()

108 ms ± 8.17 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [5]:
rng = pd.date_range('1/1/2000', periods=10000000, freq='1s')
ts = Series(np.random.randn(len(rng)), index=rng)
%timeit ts.resample('15s').ohlc()

134 ms ± 16.9 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)