# 日期和时间数据类型及工具

In [24]:
import numpy as np
import pandas as pd
from datetime import datetime
from datetime import timedelta
from dateutil.parser import parse
from pandas import DataFrame, Series

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 日期和时间数据类型及工具

### datetime

In [2]:
now = datetime.now()
now

datetime.datetime(2022, 10, 14, 11, 10, 29, 61990)

In [3]:
print(now.year, now.month, now.day)

2022 10 14

In [4]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
print(type(delta))
print(dir(delta))
print(delta.days)
print(delta.seconds)

<class 'datetime.timedelta'>
['__abs__', '__add__', '__bool__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', 'days', 'max', 'microseconds', 'min', 'resolution', 'seconds', 'total_seconds']
926
56700

### timedelta

In [5]:
start = datetime(2011, 1, 7)
start + timedelta(12) # cc：默认为天

datetime.datetime(2011, 1, 19, 0, 0)

In [6]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [26]:
# 案例：pandas 两个时间列相减，默认为天，换算为 hour
data_test = pd.DataFrame()
data_test['date1'] = pd.date_range('2022-01-01', periods=10)
data_test['date2'] = pd.date_range('2022-03-11', periods=10)

data_test['days'] = data_test['date2'] - data_test['date1'] # 相减默认为days
data_test['hour']  = data_test['days'] /np.timedelta64(1,'h')
data_test.dtypes
data_test

date1     datetime64[ns]
date2     datetime64[ns]
days     timedelta64[ns]
hour             float64
dtype: object

       date1      date2    days    hour
0 2022-01-01 2022-03-11 69 days  1656.0
1 2022-01-02 2022-03-12 69 days  1656.0
2 2022-01-03 2022-03-13 69 days  1656.0
3 2022-01-04 2022-03-14 69 days  1656.0
4 2022-01-05 2022-03-15 69 days  1656.0
5 2022-01-06 2022-03-16 69 days  1656.0
6 2022-01-07 2022-03-17 69 days  1656.0
7 2022-01-08 2022-03-18 69 days  1656.0
8 2022-01-09 2022-03-19 69 days  1656.0
9 2022-01-10 2022-03-20 69 days  1656.0

## 字符串和datetime的相互转换

### strftime - 时间转字符串

In [7]:
stamp = datetime(2011, 1, 3)
print(str(stamp)) # 默认格式转换
print(stamp.strftime('%Y-%m-%d')) # 指定转换格式

2011-01-03 00:00:00
2011-01-03

### strptime - 字符串转时间，指定格式解析

In [8]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')
# 第一个参数为 字符串
# 第二个参数为 字符串的格式，通过这个格式解析字符串，并转成datetime类型

datetime.datetime(2011, 1, 3, 0, 0)

In [9]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

### parse - 字符串转时间，自动解析

这里字符串可以是 Jan 31, 1997 10:45 PM 形式

In [10]:
parse('2011-01-03') # 自动解析，默认月在前

datetime.datetime(2011, 1, 3, 0, 0)

In [11]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [12]:
parse('6/12/2011', dayfirst=True) # 日在月前

datetime.datetime(2011, 12, 6, 0, 0)

In [13]:
datestrs = ['7/6/2011', '8/6/2011']
pd.to_datetime(datestrs) # 变成时间索引对象

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [14]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [15]:
pd.isnull(idx)

array([False, False,  True])

 datetime格式定义：

- %Y：4位数的年
- %y：2位数的年
- %m：2位数的月[01,- 12]
- %d：2位数的日[01,- 31]
- %H：小时，24小时制。
- %I：小时，12小时制。
- %M：2位数的分钟[00,- 59]
- %S：秒[00,- 61]（61是闰秒）
- %w：整数表示星期七[0（星期天）,- 6]
- %W：每月的第几周，从0开始。
- %F：%Y-%m-%d的缩写
- %D：%m/%d/%y的缩写
- %a：星期几的缩写
- %A：星期几的全称
- %b：月份的缩写
- %B：月份的全称